openapi: 3.0.0
info:
  version: 1.0.0
  title: Access Accounts NodeVersionInfo API
servers:
- url: https://rest-testnet.onflow.org/v1
  description: Flow Testnet
- url: https://rest-mainnet.onflow.org/v1
  description: Flow Mainnet
tags:
- name: NodeVersionInfo
paths:
  /node_version_info:
    get:
      summary: Get Node Version Information
      description: Get node version information, such as semver, commit, sporkID and protocol version.
      tags:
      - NodeVersionInfo
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersionInfo'
          description: OK
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
components:
  schemas:
    Identifier:
      description: A 32-byte unique identifier for an entity.
      type: string
      format: hexadecimal
      pattern: '[a-fA-F0-9]{64}'
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    CompatibleRange:
      type: object
      description: A compatible version range.
      required:
      - start_height
      - end_height
      properties:
        start_height:
          type: string
        end_height:
          type: string
    NodeVersionInfo:
      type: object
      required:
      - semver
      - commit
      - spork_id
      - protocol_version
      - protocol_state_version
      - spork_root_block_height
      - node_root_block_height
      properties:
        semver:
          type: string
        commit:
          type: string
        spork_id:
          $ref: '#/components/schemas/Identifier'
        protocol_version:
          type: string
          deprecated: true
          format: uint64
        protocol_state_version:
          type: string
          format: uint64
        spork_root_block_height:
          type: string
          format: uint64
        node_root_block_height:
          type: string
          format: uint64
        compatible_range:
          $ref: '#/components/schemas/CompatibleRange'
  responses:
    400BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    404NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    500InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
externalDocs:
  description: Find out more about the Access API
  url: https://docs.onflow.org/access-api/
